@import "/src/components/fonts";
@import "/src/components/variables";
@import "/src/components/mixin";
@import "/src/components/header";
@import "/src/components/hero";
@import "/src/components/help";
@import "/src/components/advantages";
@import "/src/components/howitworks";
@import "/src/components/discounts";
@import "/src/components/testimonials";
@import "/src/components/basic";
